<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.demo.mybatis.mapper.UserMapper">
    <sql id="columns">
        id, name, birthday, create_time, update_time
    </sql>

    <select id="getById" parameterType="long" resultType="com.xiao.demo.model.User">
        SELECT
            <include refid="columns"/>
        FROM
            users
        WHERE
            id = #{id}
    </select>
</mapper>